<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Event Calendar</title>
  <%= stylesheet_link_tag "layouts/application" %>
  <%= yield :head_css %>
  <%= javascript_include_tag "source/prototype" %>
  <%= yield :head_js %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.png' %>

</head>
<body>
<div id="main">
  <div id="header">
    <div class="shadow">
      <div id='notice'>
          <%= notice if notice %>
          <%= alert if alert %>
      </div>
    <% if user_signed_in?  %>
      <div class="user">
        <div class="welcome">
          Welcome to Event Calendar,
          <%= link_to current_user.login, edit_user_registration_path %>!
          <%= link_to t('layouts.application.logout'), destroy_user_session_path %>
        </div>
      <div class="clear"></div>
      </div>
    <% end %>
    </div>
  </div>
  <div id="content">
    <div id="left">
      <div class="wrap">
      <h2><%= t('layouts.application.menu') %></h2>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to t('layouts.application.logout'), destroy_user_session_path, :class => 'logout' %></li>
        <% end %>
      </ul>
      </div>
    </div>
    <div id="center">
        <%= yield %>
    </div>
  </div>
  <div class="footer-push"></div>
</div>
  <div id="footer">

  </div>
</body>


</html>
