<!DOCTYPE html>
<html>
<head>
  <title>Event Calendar</title>
  <%= stylesheet_link_tag "layouts/application" %>
  <%= yield :head_css %>
  <%= javascript_include_tag "source/prototype" %>
  <%= yield :head_js %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.png' %>

</head>
<body>
<div id="wrapper">
  <div id="header">
    <% if user_signed_in? %>
      <%= ("Hi, " + link_to(current_user.login, edit_user_registration_path)).html_safe %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div>
  <div id="sideLeft"></div>
  <div id="center">
    <%= yield %>
  </div>
</div>

</body>
</html>
