<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <% if user_signed_in? %>
      <%= ("Hi, " + link_to(current_user.login, edit_user_registration_path)).html_safe %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div>
  <div id="sideLeft"></div>
  <div id="center">
    <%= yield %>
  </div>
</div>

</body>
</html>
